{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/post-report/style.css' %}" />
{% endblock %} {% block main %}
<div class="page-title">
  <h2>Fill up missing person details</h2>
</div>
<div class="submission-form row">
  <div class="col-md-10">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row gx-5">
        <div class="form-group col-md-3">
          <label for="inputforname">Name</label>
          <input
            name="name"
            id="inputforname"
            type="text"
            placeholder="e.g. Rahim"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputforstreet">Street</label>
          <input
            name="street"
            id="inputforstreet"
            type="text"
            placeholder="e.g. 123 progroti lane"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputforvillage">village</label>
          <input
            name="village"
            id="inputforvillage"
            type="text"
            placeholder="e.g. Aganagar"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputforcity">City</label>
          <input
            name="city"
            id="inputforcity"
            type="text"
            placeholder="e.g. Dhaka"
            required
          />
        </div>
        <div class="form-group col-md-3">
          <label for="inputfordate">Missing From</label>
          <input type="datetime-local" id="inputfordate" name="date" required />
        </div>
        <div class="form-group col-md-3">
          <label for="photo">Photo</label>
          <input type="file" id="photo" name="photo" accept="image/*" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputfordescription">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="inputfordescription"
            placeholder="Example: Arif Hossain. 23 Years old."
            name="description"
            required
          ></textarea>
        </div>

        <div class="form-group col-md-3">
          <label for="contact">Phone</label>
          <input type="number" id="contact" name="phone" required />
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputforbdate">Birth Date</label>
            <input type="date" id="inputforbdate" name="bdate" required />
          </div>
        </div>
      </div>
      <div class="form-row"></div>
      <div class="form-row">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
